<?xml version="1.0"?>
<launch>
  <!-- Load the URDF Model -->
  <include file="$(find romeo_description)/launch/romeo_desc_generated.launch" />  
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
<!--  <include file="$(find gazebo_ros)/launch/empty_world.launch">  -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find romeo_gazebo_plugin)/worlds/romeoFoot.world"/>
    <arg name="paused" value="true"/>
    <arg name="verbose" value="true"/>
  </include>


  <!-- Call Romeo Robot Trajectory Controller -->

  <include file="$(find romeo_control)/launch/romeo_trajectory_control_full.launch"/>
<!--
  <include file="$(find romeo_control)/launch/romeo_position_control.launch"/>
-->
  <!-- Spawn a robot into Gazebo -->
 <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -x -0.5 -y 1 -z 1.1 -model romeo" />

</launch>
